# Dependencias principales de GastoSmart Backend
fastapi
uvicorn
motor
pymongo
pydantic
pydantic[email]
python-dotenv
bcrypt
python-multipart
fastapi-mail

# Autenticación y seguridad
python-jose[cryptography]
passlib[bcrypt]